<h1>Acticity Dashborard | Montreal</h1>

<button class="ui button" *ngFor="let s of states" (click)="setState(s)">
  {{ s }}
</button>

<div style="display: block" *ngIf="barChartData && state == 'type'">
  <h2>Type of activities</h2>
  <canvas
    baseChart
    [data]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"
  ></canvas>
</div>

<div style="display: block" *ngIf="doughnutChartData && state == 'sport'">
  <h2>Sports</h2>
  <canvas
    baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
  ></canvas>
</div>

<div style="display: block" *ngIf="lineChartData && state == 'time'">
  <h2>Busiest times</h2>
  <canvas
    baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [chartType]="lineChartType"
  ></canvas>
</div>

<div>
  <h2>Parks</h2>
  <agm-map
    [zoom]="11"
    *ngIf="locations && state == 'map'"
    [latitude]="lat"
    [longitude]="lng"
  >
    <div *ngFor="let park of locations">
      <agm-marker *ngIf="park.lat" [latitude]="park.lat" [longitude]="park.lng">
        <agm-info-window>{{ park.name }}</agm-info-window></agm-marker
      >
    </div>
  </agm-map>
</div>

<router-outlet></router-outlet>
