<ion-header>
  <ion-navbar>
      <ion-title>
        <div >activities</div>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button margin-left ion-button (click)="createNewActivity()">Create New Activity</button>
  <ion-card *ngFor="let activity of activities" (click)="onSelect(activity)">
    <ion-card-header>
      <ion-card-title color="primary" *ngIf="isSubscription(activity)">Subscription</ion-card-title>
      <ion-card-title color="danger" *ngIf="!isSubscription(activity)">Punctual</ion-card-title>
    </ion-card-header>
    <ion-list>
      <div ion-item><p>Sport:</p> {{ activity.sport }}</div>
      <div ion-item><p>Location:</p> {{ activity.location.name }}</div>
      <div ion-item><p>Price:</p> {{ activity.price }} $</div>
      <div ion-item *ngIf="!isSubscription(activity)">
        <p>Time:</p>
        {{ activity.time.startTime | date: "longDate" }}
      </div>
      <div ion-item *ngIf="isSubscription(activity)">
        <p>Period:</p>
        {{ activity.period.startTime | date: "longDate" }} to
        {{ activity.period.endTime | date: "longDate" }}
      </div>
      <div ion-item><p>Type:</p> {{ activity.type }}</div>
      <div ion-item><p>Traffic:</p> {{ activity.traffic }}</div>
      <div ion-item><p>Manager:</p> {{ activity.manager }}</div>
    </ion-list>
  </ion-card>
</ion-content>
